- const footage = playlist[0].video;
.visualizer
  video.visualizer__footage.visualizer__footage_current.fullscreened(
    src=`assets/video/${footage}`,
    width='100%',
    height='100%',
    loop,
    muted,
    playsinline,
    aria-hidden
  )
  video.visualizer__footage.visualizer__footage_next.fullscreened(
    width='100%',
    height='100%',
    loop,
    muted,
    playsinline,
    aria-hidden
  )
