.player
  .player__controls
    button.player__button.player__button_ctrl_toggle(
      aria-label='воспроизвести/пауза'
    )
      i.fa-solid.fa-play(aria-hidden)
    button.player__button.player__button_ctrl_next(aria-label='вперед')
      i.fa-solid.fa-forward-step(aria-hidden)
    button.player__button.player__button_ctrl_prev(aria-label='назад')
      i.fa-solid.fa-backward-step(aria-hidden)
  ul.player__playlist
    each counter in [1, 2, 3, 4]
      each track, i in playlist
        -
          const { audio, label, theme } = track;
          const { color = 'black' } = theme;
        li(
          class=`player__record${counter === 1 && i === 0 ? ' player__record_settled' : ''}`
        )
          audio(src=`assets/audio/${audio}`, preload='metadata', loop)
          .player__record-vinyl
            .player__record-label(
              style=`background: ${label ? `url('assets/images/${label}')` : color}`
            )
  span.player__tonearm(aria-hidden)
